body{
    background: url("nature.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    width:500px;
    height:300px;
    margin: auto;
    margin-top: 200px;
    font-weight: bold;
    margin-bottom: 70px;
    
}
.glass{

    backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 ;
}
.clock1{
    width:100%;
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    color:white

}
